/* Color variables */
:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

/* General style */

body {
    background-color: var(--almostWhite);
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    margin: 0;
}

.index-header {
    width: 100%;
}

.index-nav {
    width: 100%;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
}

.nav-list {
    display: flex;
    width: 100%;
    color: var(--mediumGray);
}

.collapsible-content {
    display: flex;
    width: 100%;
    max-height: 0;
}

.todo {
    background-image: url('../images/icon-todo.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.calendar {
    background-image: url('../images/icon-calendar.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.reminders {
    background-image: url('../images/icon-reminders.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.planning {
    background-image: url('../images/icon-planning.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.content {
    visibility: hidden;
    max-height: 0 ;
    overflow: hidden;
}

.main-content {
    width: 100%;
    text-align: center;
}

.index-title {
    font-weight: 700;
    padding-bottom: 5%;
}

.index-description {
    font-weight: 500;
    color: var(--mediumGray);
}

.learn-more {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    padding: 3%;
    border-radius: 10px;
    border-style: none;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 15%;
}

.clients {
    text-align: center;
    padding-bottom: 10%;
    width: 100%;
    box-sizing: border-box;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
    .menu-btn {
        background-image: url('../images/icon-menu.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        width: 20%;
        border-style: none;
        background-color: var(--almostWhite);
    }

    .collapsible-content {
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--almostWhite);
        width: 60%;
        height: 100vh;
        position: absolute; 
        margin-left: 45%;
        font-size: 0.8rem;
        box-sizing: border-box;
    }
    
    .nav-list li {
        padding: 5% 10% 0 10%;
    }
   
    
    .collapsible {
        background-image: url('../images/icon-arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 5rem;
        width: 70%;
        text-align: left;
    }

    .content {
        padding: 5% 10%;
    }

    .content p {
        padding: 5% 3% 5% 20%;
    }


    button {
        font-family: 'Epilogue', sans-serif;
        background-color: var(--almostWhite);
        color: var(--mediumGray);
        border: none;
    }

    .login-registration {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 0 5% 30%;
    }

    .login-registration > button {
        padding: 5%;
    }

    .login-registration button:first-child {
        margin-bottom: 5%;
    }

    .login-registration button:nth-child(2) {
        border: 1.5px solid var(--mediumGray);
        border-radius: 10px;
    }

    .intro {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10% 5%;
    }
    
    .index-title {
        font-weight: 700;
        padding-bottom: 5%;
    }
    
    .index-description {
        width: 85%;
        margin: 0 auto;
        font-size: 0.8rem;
        line-height: 2;
    }
    
    .clients > img {
        width: 20%;
    }
    
    picture > img {
        width: 100%;
    }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        padding: 5%;
        width: 20%;
    }

    .menu-btn {
        background-image: url('../images/icon-menu.svg');
        background-repeat: no-repeat;
        background-position: 4rem;
        width: 20%;
        border-style: none;
        background-color: var(--almostWhite);  
    }

    .collapsible-content {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;

    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--almostWhite);
        width: 60%;
        position: absolute; 
        margin-left: 45%;
        font-size: 0.8rem;
        box-sizing: border-box;
        margin-top: -10%;
    }
    
    .nav-list li {
        padding: 5% 10% 0 10%;
    }
   
    
    .collapsible {
        background-image: url('../images/icon-arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 5rem;
        width: 70%;
        text-align: left;
    }

    .content {   
        padding: 5% ;
    }

    .content p {
        padding: 2% 10%;
    }


    button {
        font-family: 'Epilogue', sans-serif;
        background-color: var(--almostWhite);
        color: var(--mediumGray);
        border: none;
    }

    .login-registration {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 0 5% 30%;
    }

    .login-registration > button {
        padding: 5%;
    }

    .login-registration button:first-child {
        margin-bottom: 10%;
    }

    .login-registration button:nth-child(2) {
        border: 1.5px solid var(--mediumGray);
        border-radius: 10px;
    }

    .intro {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10% 5%;
    }
    
    .index-title {
        font-weight: 700;
        padding-bottom: 5%;
        font-size: 1.5rem;
    }
    
    .index-description {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.2;
    }
    
    .clients > img {
        width: 15%;
        padding: 2%;
    }
    
    picture > img {
        width: 100%;
    }
}

/* Small screens, laptops */
@media(min-width:769px) {
    .index-nav {
        width: 100%;
        box-sizing: border-box;
    }

    .logo-menu {
        display: absolute;
        padding: 4%;
    }

    .menu-btn {
        height: 0;
        overflow: hidden;
        visibility: hidden;
    } 

    .collapsible-content {
        position: absolute;
        top: 5%;
        left: 15%;
    }

    .nav-list {
        display: flex;
        box-sizing: border-box;
        align-items: baseline;
    }

    .nav-buttons {
        display: flex;
    }

    .nav-buttons > li:nth-child(2) {
        margin-left: 5%;
        width: 120px;
    }

    .nav-list-btn {
        background-color: var(--almostWhite);
        border: none;
        font-family: 'Epilogue', sans-serif;
        color: var(--mediumGray);
        height:40px;
    }

    .collapsible {
        background-image: url('../images/icon-arrow-down.svg');
        background-position: 5rem;
        background-repeat: no-repeat;   
        width: 120px;
        text-align: left;
    }

    .careers-about > li {
        background-color: var(--almostWhite);
        border: none;
        width: 100px;
        margin-left: 5%;
        text-align: center;
    }

    .careers-about > li:nth-child(2) {
        margin-left: -8%;
    }

    .careers-about {
        display: flex;
        margin-left: -15%;
    }

    .careers-about > li:first-child {
        margin-right: 13%;      
    }

    .login-registration {
        display: flex;
        margin-left: 25%; 
        align-items: center;
        box-sizing: border-box;
        width: 20%;
    }

    .login-registration > button {
        width: 150px;
        border-radius: 10px;
    }

    .login-registration > button:nth-child(2) {
        margin-left: 15%;
        border: 1.5px solid var(--mediumGray);
    }
}