/* Color variables */
:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

/* General style */

body {
    background-color: var(--almostWhite);
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    margin: 0;
}

.index-header {
    width: 100%;
}

.index-nav {
    width: 100%;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    width: 100%;
}

.collapsible-content {
    display: flex;
    width: 100%;
    max-height: 0;
}

.logo {
    padding: 5%;
}

.main-content {
    width: 100%;
    text-align: center;
}

.index-title {
    font-weight: 700;
    padding-bottom: 5%;
}

.index-description {
    font-weight: 500;
    color: var(--mediumGray);
}

.learn-more {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    padding: 5%;
    border-radius: 10px;
    border-style: none;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 15%;
}

.clients {
    text-align: center;
    padding-bottom: 10%;
    width: 100%;
    box-sizing: border-box;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
    .menu-btn {
        background-image: url('../images/icon-menu.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        width: 20%;
        border-style: none;
        background-color: var(--almostWhite);
    }

    .collapsible-content {
        max-height: 0;
        overflow: hidden;
    }

    .intro {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10% 5%;
    }
    
    .index-title {
        font-weight: 700;
        padding-bottom: 5%;
    }
    
    .index-description {
        width: 85%;
        margin: 0 auto;
        font-size: 0.8rem;
        line-height: 1.5;
    }
    
    .clients > img {
        width: 20%;
    }
    
    picture > img {
        width: 100%;
    }
}

