/* Color variables */
:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

/* General style */

body {
    background-color: var(--almostWhite);
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.index-header {
    width: 100%;
}

.index-nav {
    width: 100%;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
}

.nav-list {
    display: flex;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.collapsible-content {
    display: flex;
    width: 100%;
    color: var(--mediumGray);
}

.todo {
    background-image: url('../images/icon-todo.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.calendar {
    background-image: url('../images/icon-calendar.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.reminders {
    background-image: url('../images/icon-reminders.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.planning {
    background-image: url('../images/icon-planning.svg');
    background-position: 0.5rem;
    background-repeat: no-repeat;
}

.content-features, .content-company { 
    background-color: var(--almostWhite);
    width: 150px;
    padding: 2%;
    top: 150px;
    left: -25%;
    display: none; 
    flex-direction: column;
    text-align: left;
}

.content-features > button {
    text-align: left;
    background-color: var(--almostWhite);
    border: none;
    color: var(--mediumGray);
}

.content-company > button {
    text-align: left;
    background-color: var(--almostWhite);
    border: none;
    color: var(--mediumGray);
    padding: 3%;
    display: block;
}

.todo, .calendar, .reminders, .planning {
    padding: 3% 25%;
    text-align: left;
}

.main-content {
    width: 100%;
    text-align: center;
}

.index-title {
    font-weight: 700;
}

.index-description {
    font-weight: 500;
    color: var(--mediumGray);
}

.learn-more {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    padding: 3%;
    border-radius: 10px;
    border-style: none;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 15%;
}

.clients {
    text-align: center;
    padding-bottom: 10%;
    width: 100%;
    box-sizing: border-box;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
    .menu-btn {
        background-image: url('../images/icon-menu.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        width: 20%;
        border-style: none;
        background-color: var(--almostWhite);
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--almostWhite);
        width: 60%;
        height: 100vh;
        position: absolute; 
        margin-left: 45%;
        font-size: 0.8rem;
        box-sizing: border-box;
    }
    
    .nav-list > button {
        padding: 5% 10% 0 10%;
    }


    .collapsible-content {
        flex-direction: column;
        display: none;
    }
       
    .collapsible {
        background-image: url('../images/icon-arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 5rem;
        width: 70%;
        text-align: left;
    }

    .content {
        padding: 5% 10%;
    }

    button {
        font-family: 'Epilogue', sans-serif;
        background-color: var(--almostWhite);
        color: var(--mediumGray);
        border: none;
    }

    .careers-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .careers-about > button {
        text-align: left;
        padding: 2%;
        margin-left: 10%;
    }

    .login-registration {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 0 5% 30%;
    }

    .login-registration > button {
        padding: 5%;
    }

    .login-registration button:first-child {
        margin-bottom: 5%;
    }

    .login-registration button:nth-child(2) {
        border: 1.5px solid var(--mediumGray);
        border-radius: 10px;
    }

    .intro {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10% 5%;
    }
    
    .index-title {
        font-weight: 700;
        font-size: 2rem;
    }
    
    .index-description {
        width: 85%;
        margin: 0 auto;
        font-size: 0.8rem;
        line-height: 2;
        padding-top: 5%;
    }
    
    .clients > img {
        width: 20%;
    }
    
    picture > img {
        width: 100%;
    }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .logo {
        padding: 5%;
        width: 20%;
    }

    .menu-btn {
        background-image: url('../images/icon-menu.svg');
        background-repeat: no-repeat;
        background-position: 4rem;
        width: 20%;
        border-style: none;
        background-color: var(--almostWhite);  
    }

    .menu-btn:hover {
        cursor: pointer;
    }

    .collapsible-content {
        flex-direction: column;
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--almostWhite);
        width: 60%;
        position: absolute; 
        margin-left: 45%;
        font-size: 0.8rem;
        box-sizing: border-box;
        margin-top: -10%;
    }
    
    .nav-list > button {
        padding: 5% 10% 0 10%;
    }
    
    .collapsible {
        background-image: url('../images/icon-arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 5rem;
        width: 70%;
        text-align: left;
    }

    .content {   
        padding: 5% ;
    }

    .content p {
        padding: 2% 10%;
    }

    button {
        font-family: 'Epilogue', sans-serif;
        background-color: var(--almostWhite);
        color: var(--mediumGray);
        border: none;
    }

    .careers-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .careers-about > button {
        text-align: left;
        padding: 2% 8%;
    }

    .login-registration {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 0 5% 30%;
    }

    .login-registration > button {
        padding: 5%;
    }

    .login-registration > button:first-child {
        margin-bottom: 10%;
    }

    .login-registration > button:nth-child(2) {
        border: 1.5px solid var(--mediumGray);
        border-radius: 10px;
    }

    .intro {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10% 5%;
    }
    
    .index-title {
        font-weight: 700;
        padding-bottom: 5%;
        font-size: 2rem;
    }
    
    .index-description {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.2;
        padding-top: 5%;
    }
    
    .clients > img {
        width: 15%;
        padding: 2%;
    }
    
    picture > img {
        width: 100%;
    }
}

/* Small screens, laptops */
@media(min-width:769px) {
    body {
        height: 100vh;
    }

    .index-nav {
        width: 100%;
        box-sizing: border-box;
    }

    .logo-menu {
        display: absolute;
        padding: 3%;
    }

    .logo {
        padding-right: 5%;
    }

    .menu-btn {
        height: 0;
        overflow: hidden;
        visibility: hidden;
    } 

    .collapsible-content {
        position: absolute;
        top: 5%;
        left: 15%;
    }

    .nav-list {
        display: flex;
        box-sizing: border-box;
        align-items: baseline;
    }

    .nav-buttons {
        display: flex;
    }

    .nav-buttons > li:nth-child(2) {
        margin-left: 5%;
        width: 150px;
    }

    .nav-list-btn {
        background-color: var(--almostWhite);
        border: none;
        font-family: 'Epilogue', sans-serif;
        color: var(--mediumGray);
        height:40px;
    }

    .collapsible {
        background-image: url('../images/icon-arrow-down.svg');
        background-position: 5rem;
        background-repeat: no-repeat;   
        width: 120px;
        text-align: left;
    }

    .careers-about {
        display: flex;
    }

    .careers-about > button {
        background-color: var(--almostWhite);
        border: none;
        width: 100px;
        text-align: center;
    }

    .login-registration {
        display: flex;
        margin-left: 20%; 
        align-items: center;
        box-sizing: border-box;
        width: 20%;
    }

    .login-registration > button {
        width: 150px;
        border-radius: 10px;
    }

    .login-registration > button:nth-child(2) {
        margin-left: 15%;
        border: 1.5px solid var(--mediumGray);
    }

    .main-content {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        box-sizing: border-box;
        align-items: top;
    }

    .intro {
        width: 100%;
        text-align: left;
        margin: 0 10%;
        padding: 5%;
        box-sizing: border-box;
    }

    .index-title {
        font-size: 3rem;
    }

    .first-title::after {
        content: '\a';
        white-space: pre;
    }

    .index-description {
        padding-top: 10%;
        font-size: 1rem;
        line-height: 1.5;
        width: 70%;  
    }

    .index-learn-btn {
        width: 100%;
        text-align: left;
    }

    .index-learn-btn > button {
        background-color: var(--almostWhite);
        border: 1px solid var(--mediumGray);
        color: var(--almostBlack);
        margin-top: 10%;
    }

    .clients {
        align-content: left;
        display: flex;
        justify-content: space-between;
    }

    .clients > img {
        width: 20%;
    }

    picture {
        margin: 0 auto;
    } 

    picture > img {
        width: 60%;   
    }
}