:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}


body {
    background-color: var(--almostWhite);
}

.index-header {
    display: flex;
}

.index-nav {
    width: 100%;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-list {
    display: flex;
    width: 100%;
}

.collapsible-content {
    display: flex;
}

.logo {
    padding: 5%;
}


@media (min-width: 320px) and (max-width: 480px) {
    .menu-btn {
        background-image: url('../images/icon-menu.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        width: 20%;
        text-align: middle;
        border-style: none;
        background-color: var(--almostWhite);
    }

    .collapsible-content {
        max-height: 0;
        overflow: hidden;
    }

}

